@font-face {
    font-family: "StratosSkyeng";
    src: url(./fonts/stratosskyeng-regular.otf);
}
*{
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
}


body {
    background-color: #004980;
    font-family:  StratosSkyeng;
    height: 100vh;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 480px;
    height: 459px;
    background: #C2F5FF;
    border-radius: 12px;
    margin: auto;
    margin-top: 158px;
}

.text {
    font-size: 40px;
    width: 208px;
    text-align: center;
    color: #004980;
}

.level{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.level input[type="radio"] {
    display: none;
}

.level label {
    display: inline-block;
    padding: 2px 9px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 98px;
    height: 98px;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0080C1;
    border-color: transparent;
}

.level input[type="radio"]:checked+label {
    background-color: #7ecbef;
}

.level label:hover {
    background-color: #b3dcfd;
}


.start-button {
    font-family:  StratosSkyeng;
    color: #FFFFFF;
    font-size: 24px;
    background-color: #7AC100;
    border-radius: 12px;
    width: 246px;
    height: 50px;   
    border-color: transparent;
}